@page "/product/{id:int}"
@using Blazor_E_Commerce.UseCases.ViewProductScreen.Interfaces

@inject NavigationManager navigationManager;
@inject IViewProductUseCase viewProductUseCase
@inject IAddProductToCardUseCase addProductUseCase
<h3>Product Details</h3>

<div class="card" style="width: 28rem;">
    <div class="card-body">
        <img src="@product.ImageLink" />
        <h5 class="card-title">@product.ProductName</h5>
        <h6 class="card-subtitle mb-2 text-muted">@product.ProductBrand</h6>
        <hr />
        <p>
            Price: <label style="color:darkred">@product.ProductPrice.ToString("c")</label>
        </p>
        <p class="card-text">@product.Description</p>
    </div>
    <button class="btn btn-primary" @onclick="AddToCard">Add to card</button>
</div>
<br/>
<NavLink href="products">Back to Products</NavLink>

@code {
    private Product product;

    [Parameter]
    public int Id { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Id > 0)
            product = viewProductUseCase.Execute(Id);

    }
    private void AddToCard()
    {
        addProductUseCase.Execute(product.ProductID );
        navigationManager.NavigateTo("/");
    }
}
